{% extends "news/base.html" %}
{% block content %}
  <form action="/news/create/" method="post">
    {% csrf_token %}
    <p class="field_label">Article Title:</p>
    <input id="title" type="text" name="title" class="new_article">
    <br>
    <p class="field_label">Article Text:</p>
    <textarea id="text" type="text" name="text" class="new_article"></textarea>
    <br>
    <button type="submit" class="article_button">Submit article</button>
  </form>

  <a class="highlight_link" href="/news/">Return to Main Page...</a>
{% endblock %}
