{% extends "news/base.html" %}
{% block content %}
  <form action="/news/" method="get">
    {% csrf_token %}
    <p>Search for an article:</p>
    <input id="q" type="text" name="q">
    <button type="submit">Search now</button>
  </form>

  {% for group in groups %}
    <h4>{{ group.date | date:"Y-m-d" }}</h4>

    <ul>
      {% for article in group.articles %}
        <li><a href="/news/{{ article.link }}/">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}

  <a class="highlight_link" target="_blank" href="/news/create/">Add a new article...</a>
{% endblock %}
